@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('header.css');
@import url('home.css');
@import url('menu.css');



*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';

}


section{
    padding: 28px ;
}

.btn1{
    border-radius: 30px; 
    border: none;
    padding: 16px 28px;
    color: #fff;
    background-color: #CF9135;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn1:hover{
    box-shadow: 0px 0px 5px 2px rgba(14, 13, 13, 0.900);
    background-color:#DE8D14;
    transform: scale(1.05);
    transform: translateY(3px);
    box-shadow: 0 8px 15px #eb9123d2
}

.section-title {
    color: #CF9134;
    font-size: 2rem;
    margin-top: 30px;
}

.section-subtitle {
    font-size: 2.1875rem;
} 
@media (max-width: 1024px){
    .section-title{
        font-size: 1.5rem;
        margin-top: 5px;
        
    }

    .section-subtitle{
        font-size: 1.9rem;
    }

    .btn1{
        padding: 4px;
        
    }
}

@media (max-width: 768px) {
    .section-title{
        font-size: 1.3rem;
        margin-top: 5px;
    }

    .section-subtitle{
        font-size: 1.5rem;
    }
    .btn1{
        padding: 3px;
    }
}

@media (max-width: 480px){
    .section-title{
        font-size: 1.2rem;
        margin-top: 2px;
    }

    .section-subtitle{
        font-size: 1.4rem;
    }

    .btn1{
        padding: 2px;
        font-size: 10px;
    }
}

